.map {
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
      background-color: #fff;
      height: 500px;
      width: 100%
    }
    .mapPlaceholder {
      height: 100%;
      width: 100%;
      background-color: #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      border-radius: 4px;
    }